<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleleaf.org">
<head>
<meta charset="UTF-8">
<link rel=“stylesheet” href=“style.css”>
<title>掲示板アプリケーション</title>
</head>
<body>

<h2>掲示板アプリケーション</h2>

<form th:action="@{/bulletin-board/post-an-article}" method="post" th:object="${articleForm}">
	<label for="contributorNameField">投稿者名：</label>
		<input id="contributorNameField" name="name" type="text" th:field="*{name}"><br>
	<label for="contributorContentField">投稿内容：</label>
		<input id="contributorContentField" name="content" type="text" th:field="*{content}"><br>
	<button>記事投稿</button>
</form>
<div th:each="article:${articleList}">
<hr>
投稿ID：<span th:text="${article.id}"></span><br>
投稿者名：<span th:text="${article.name}"></span><br>
投稿内容：<span th:text="${article.content}"></span><br>
<div th:each="comment : ${article.commentList}">
	コメントID：<span th:text="${comment.id}"></span><br>
	コメント者名：<span th:text="${comment.name}"></span><br>
	コメント内容：<span th:text="${comment.content}"></span><br>
</div>
<form>


</form>

<hr>
</div>


</body>
</html>